# Dependencies
client/node_modules/
server/node_modules/

# Build outputs
client/dist/

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Env files
.env
server/.env
client/.env

# Misc
.DS_Store
Thumbs.db
